<fieldset class="col-md-12">
  <div class="scroll">
    <span class="margin text-font" *ngFor="let log of log.logs">
      {{ log }}<br/>
    </span>
    <ng-container *ngIf="log.showMore === true">
      <br>
      <button (click)="more()"
              class="margin btn btn-outline-dark pull-left">
        Mostrar mais...
      </button>
      <div class="clearfix"></div>
    </ng-container>
    <span class="margin text-font" *ngFor="let log of log.lastLog">
      {{ log }}<br/>
    </span>
  </div>
</fieldset>