fieldset {
    background: rgb(68,68,68); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(68,68,68,1) 0%, rgba(68,68,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,68,68,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(68,68,68,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(68,68,68,1) 0%,rgba(68,68,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    margin: 0px auto;
    width: 60%; 
    padding: 15px;
    border: 1px solid;
    border-color: darkgray;
}

div.scroll {
    background-color: rgb(14,14,14);
    height: 250px;
    overflow: auto;
}

.text-font {
    color: lawngreen;
}

.margin {
    margin-left: 15px;
}