<form novalidate [formGroup]="form" (ngSubmit)="transmit()">
  <fieldset class="col-md-9">
    <div class="col-md-6" style="position: relative; float: left">
      <div class="col-md-12 mb-3">
        <label [for]="nameFileSize">{{ titleFileSize }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">MB</span>
          </div>
          <input [id]="nameFileSize"
                 [formControlName]="nameFileSize"
                 [ngClass]="{'is-invalid' : isValid(nameFileSize)}"
                 [placeholder]="titleFileSize"
                 type="number" 
                 min="0"
                 class="form-control" >
          <div *ngIf="isValid(nameFileSize)" class="invalid-feedback">
            {{ requiredMessage(titleFileSize) }}
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <label [for]="nameMss">{{ titleMss }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Bytes</span>
          </div>
          <input [id]="nameMss"
                 [formControlName]="nameMss"
                 [ngClass]="{'is-invalid' : isValid(nameMss)}"
                 [placeholder]="titleMss"
                 type="number" 
                 min="0"
                 class="form-control">
          <div *ngIf="isValid(nameMss)" class="invalid-feedback">
            {{ requiredMessage(titleMss) }}
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <label [for]="nameTransferRate">{{ titleTransferRate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">MB/s</span>
          </div>
          <input [id]="nameTransferRate"
                 [formControlName]="nameTransferRate"
                 [ngClass]="{'is-invalid' : isValid(nameTransferRate)}"
                 [placeholder]="titleTransferRate"
                 type="number" 
                 min="0"
                 class="form-control">
          <div *ngIf="isValid(nameTransferRate)" class="invalid-feedback">
            {{ requiredMessage(titleTransferRate) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="position: relative; float: left">
      <div class="col-md-12 mb-3">
        <label [for]="nameStartDate">{{ titleStartDate }}</label>
        <div class="input-group">
          <input [id]="nameStartDate"
                 [formControlName]="nameStartDate"
                 [ngClass]="{'is-invalid' : isValid(nameStartDate)}"
                 [placeholder]="titleStartDate"
                 type="datetime-local" 
                 class="form-control" >
          <div *ngIf="isValid(nameStartDate)" class="invalid-feedback">
            {{ requiredMessage(titleStartDate) }}
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <label [for]="nameDelay">{{ titleDelay }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">µs</span>
          </div>
          <input [id]="nameDelay"
                 [formControlName]="nameDelay"
                 [ngClass]="{'is-invalid' : isValid(nameDelay)}"
                 [placeholder]="titleDelay"
                 type="number" 
                 min="0"
                 class="form-control" >
          <div *ngIf="isValid(nameDelay)" class="invalid-feedback">
            {{ requiredMessage(titleDelay) }}
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <button type="submit" 
            [disabled]="form.invalid"
            class="btn btn-outline-primary pull-right">
      Transmitir
    </button>
  </fieldset>
</form>