<fieldset class="col-md-9">
    <div class="col-md-6" style="position: relative; float: left">
        <div class="col-md-12 mb-3">
            <label [for]="nameAmountSegment">{{ titleAmountSegment }}</label>
            <div class="input-group">
                <input [id]="nameAmountSegment"
                       [placeholder]="titleAmountSegment"
                       [(ngModel)]="result.amountSegment"
                       type="number" 
                       min="0"
                       class="form-control"
                       disabled/>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label [for]="nameTotalTime">{{ titleTotalTime }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">µs</span>
                </div>
                <input [id]="nameTotalTime"
                       [placeholder]="titleTotalTime"
                       [(ngModel)]="result.totalTime"
                       type="number" 
                       min="0"
                       class="form-control"
                       disabled/>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="position: relative; float: left">
        <div class="col-md-12 mb-3">
            <label [for]="nameEndDate">{{ titleEndDate }}</label>
            <div class="input-group">
                <input [id]="nameEndDate"
                       [placeholder]="titleEndDate"
                       [(ngModel)]="result.finalDate"
                       type="text" 
                       class="form-control" 
                       disabled/>
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label [for]="nameLastSegmentSize">{{ titleLastSegmentSize }}</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Bytes</span>
                </div>
                <input [id]="nameLastSegmentSize"
                       [placeholder]="titleLastSegmentSize"
                       [(ngModel)]="result.lastSegmentSize"
                       type="number" 
                       min="0"
                       class="form-control"
                       disabled/>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <button [disabled]="disableBtnClean()"
            class="btn btn-outline-primary pull-right"
            (click)="cleanResult()">
        Limpar
    </button>
</fieldset>

<app-console [input]="input" 
             [log]="log" 
             (moreLog)="moreLog($event)">
</app-console>
